<%= render 'layouts/nav-all'  %>
<br>
<br>
<br>
<div style="background-color: rgba(54, 72, 125, 0.86)!important;" class="jumbotron jumbotron-me">
	<div class="container">
		<h1 style="text-align: center;">Where to find me?</h1>
		<hr>
		<br>
		<br>
		<br>
	</div>
</div>
<div style="width: 100%!important" class="google">
		<iframe style="pointer-events: none!important; width:100%!important" width="100%!important" class="google-maps" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2292.692697888197!2d-2.9274144842503906!3d54.925864480340266!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x487d1a09fc2c31d3%3A0x7bed0c82588621c3!2sPoplars+House+Farm!5e0!3m2!1sen!2suk!4v1501716806376" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
		</div>
<div style="background-color: rgba(54, 72, 125, 0.86)!important;" class="jumbotron jumbotron-me">
		<div class="container">
			<br><br>
			<h3>Feel Free To Drop Us A Line To Contact Us</h3>
			<hr class="hr-contact">
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore, optio. Ipsa, fugit earum dolorem delectus expedita magni quasi amet sed, eligendi dolore officia id tenetur placeat esse odit hic quidem.</p>
			<br>
			<br class="hidden-md-down">
			<br class="hidden-md-down">
		</div>
		<div class="container m">
			<!-- only used for small devices -->
			<div class="no-gutters hidden-lg-up">
				
					<div class="no-gutters col-lg-3">
					<br>
						<h3>Contact</h3>
						<hr class="hr-contact-text">
						<p>Office: The Green, Houghton, Carlisle CA3 0NF</p>
						<hr class="hr-contact">
						<p>Tel: 01228 597024</p>
						<hr class="hr-contact">
						<p> (0041)-252-3333</p>
						<hr class="hr-contact">
						<p>info@gtbuilder.com</p>
						<hr class="hr-contact">
						<p>Fax: (123) 118 9999</p>
					</div>
			</div>
			<br >
			<form>
				<div class="contact-form col-lg-10">
					<div class="row">
						<div class="col-lg-5 row-no-padding">
							<div class="">
								<div class="form-group">
									<div class="">
				   						 <input type="text" class="form-control" placeholder="Name">
				 					 </div>
								</div>
							</div>
						</div>
						<div class="col-lg-5 row-no-padding">
							<div class="form-group">
								<div class="">
									<div class="">
				   						 <input type="text" class="form-control" placeholder="Email">
				 					 </div>
			 					 </div>
							</div>
						</div>
						<div class="col-lg-10 row-no-padding">
								<div class="form-group">
								    <textarea class="form-control" id="exampleTextarea" placeholder="Your Message" rows="14"></textarea>
							  </div>
						</div>
					</div>
				</div>
			</form>
			<!-- only used for large devices -->
			<div class="contact-text-wrapper hidden-md-down">
				<div class="col-lg-3 pull-right">
					<h3>Contact</h3>
					<hr class="hr-contact-text">
					<p>Office: The Green, Houghton, Carlisle CA3 0NF</p>
					<hr class="hr-contact">
					<p>Tel: 01228 597024</p>
					<hr class="hr-contact">
					<p> (0041)-252-3333</p>
					<hr class="hr-contact">
					<p>info@gtbuilder.com</p>
					<hr class="hr-contact">
					<p>Fax: (123) 118 9999</p>
				</div>
			</div>
			<button style="margin-top: 0%;" class="btn btn-default submit-contact hidden-lg-up">Submit</button>
			<button style="margin-top: 	10%;" class="btn btn-default submit-contact hidden-md-down ">Submit</button>
		</div>	
</div>