/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

$yellow: rgba(255, 255, 0, 0.76);


@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

.nav-colour {
	background-color: rgba(255, 255, 0, 0.7)!important;
	opacity: 0.9;
}

.wrapper {
	width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
    background-color: white!important;
}


.navbar {
	a {

	}

	a:hover {
        background-color: white;
        opacity: 0.7;
        transition: all 0.3s ease 0s;
	}

	.nav-link {
		text-decoration: none;
	    text-transform: uppercase;
	    transition: all 0.3s ease 0s;
	    color: white!important;
	}

    .nav-link:hover {
        color: black!important;
    }

	li {
		margin-right: 30px;
	}
}


.jumbotron-me {
	width: 100%;
	height: auto;
	color: white;
	border-radius: 0px!important;
}

.jumbotron {
	margin-bottom: 0px!important;
}




 .carousel-caption {
    margin-bottom: 15%!important;
    }

.welcome-heading {
	
    // margin-bottom: 200px;
    letter-spacing: 1px;
    display: inline-block;
    -webkit-animation-delay: 0.7s;
    animation-delay: 0.7s;
    line-height: 84px!important;
    font-size: 60px!important;
}

.welcome-heading-small {
	
    color: $yellow!important;
    letter-spacing: 1px;
    display: inline-block;
    -webkit-animation-delay: 0.7s;
    animation-delay: 0.7s;
    line-height: 38px!important;

}

.welcome-heading-serve {

	padding: 0;
    color: $yellow!important;
    letter-spacing: 1px;
    display: inline-block;
    -webkit-animation-delay: 0.7s;
    animation-delay: 0.7s;
    line-height: 38px!important;

}

.hr-services {
	background-color: $yellow;
	width: 20%;
}

.hr-contact {
    background-color: $yellow;
    width: 100%;
}

.hr-contact-text {
    width: 50%;
    margin-left: 1%;
    border: 2px solid rgba(255, 255, 0, 0.76);
}

.form {
    padding-right: 0px!important;
    padding-left: 0px!important;
}

.form-input-name {
    margin-left: 0%!important;
    width: 120%!important;
}

.form-input-email {
    margin-left: -7%!important;
    width: 120%!important;
}
.services-btn {
    width: 100%;
    height: 100%;
    -webkit-transition: width 2s; /* Safari */
    -webkit-transition: height 2s;
    transition: width 2s;
    transition: height 2s;
}

.services-btn:hover {
		// width: 250px!important;
		height: 60px!important;

    }


.thumb-img {
	padding: 0px;
	border-radius: 0!important;
}


.serv-icons {
	background: #fbea1f;
    width: 83px;
    height: 83px;
    border-radius: 50%;
    text-align: center;
    margin-top: 15%!important;
    -webkit-transition: 0.8s ease;
    transition: 0.8s ease;
}

.serv-icons-contact {
    background: white;
    width: 83px;
    height: 75px;
    border-radius: 50%;
    text-align: center;
    margin-top: 10%!important;
    -webkit-transition: 0.8s ease;
    transition: 0.8s ease;
    color: black;
}

 .serv-icons:hover {
    	background: black;
    }



.service-text {
	text-align: center;
}



.thumb-h3 {
    color: black;
}


.contact-image-header {
    height: 200px;
    width: 100%;

}

.contact-text-wrapper {
    position: relative;
    margin-top: -33%;
    padding-bottom: 250px;
}

.contact-icons {
   margin-top: 13%!important;
}

.submit-contact {
    background: rgba(255, 255, 0, 0.76) none repeat scroll 0 0;
    border: 0 none;
    color: #ffffff;
    font-size: 15px;
    font-weight: bold;
    height: inherit;
    padding: 15px 45px;
    text-transform: uppercase;
    transition: all 0.3s ease 0s;
    
}

.row-no-padding {
   
    padding-left: 0 !important;
    padding-right: 0 !important;
  
}

// footer
footer {
	background-color: #000000;
    
    a {
        color: #b3b3b3!important;
        // float: left;
    }

}

.footer-contact {
    text-decoration: none!important;
    list-style-type: none!important;
    list-style: none;
}

.footer {
		background-color: #222222;
		height: auto;
		width: 100%;
		color: white;
    	line-height: 20px;
        padding: 80px 0 30px;
        color: #b3b3b3!important;

}

.footer-bottom {
    height: auto;
    width: 100%;
    background-color: #000000;
    padding-top: 25px;
    padding-bottom: 25px;
    text-align: center;
}

.fa-paper-plane-o {
    color: #F4BC16!important;
}

.contact-text {
    display: inline-flex;
}


.hr-footer {
    background-color: #f4bc16;
    float: left;
    width: 85%;
    margin-top: 0%;
}

.footer-links {
    text-decoration: none;

}

.footer:a {
    text-align: center!important;
}
// end of footer


.services-bottom-wrapper {
    margin-top: 5%;
}

.services-top-wrapper {
    margin-top: 5%;
}


.phone-bottom {
    font-family: 'Raleway';
    font-size: 22px;
    line-height: 15px;
    color: #FFF;
    padding: 1em 0;
    margin: 0;
    margin-left: -30%!important;
    margin-top: 10px;

}

.address-bottom {
    
}


.email-bottom {
    
}

.back-to-top {
    cursor: pointer;
    position: fixed;
    bottom: 20px;
    right: 20px;
    display:none;
}





@include media-breakpoint-up(xs) { 

        .carousel-caption {
            margin-bottom: 25%;
        }

        .navbar {
            height: auto!important;
        }

        .nav-colour {
            background-color: #52628f !important;
            opacity: 0.9;
        }

         .nav-colour-all {
            background-color: white!important;
            opacity: 0.9;
        }

        // .welcome-heading-small {
        //     text-transform: uppercase!important;
        //     line-height: 40px !important;
        //     font-size: 25px !important;
        // }
 }
@include media-breakpoint-up(sm) { 
 }
@include media-breakpoint-up(md) { 
 }
@include media-breakpoint-up(lg) { 
 }
@include media-breakpoint-up(xl) {  }

