<div style="background-color: #F4BC16!important; padding-bottom: 0px; padding-top: 20px;" class="jumbotron-me jumbotron">
	<div style="margin-left: 80px"; class="container">
		<div class="row">
		<div class="col-lg-2">
			<div class="serv-icons-contact mx-auto">
				<i  class="contact-icons fa icons fa-mobile fa-3x" aria-hidden="true"></i>
			</div>
		</div>
		<div class="col-lg-2">
			<div class="phone-bottom">
				<p>Phone:</p>
				<p>078879333458</p>
			</div>
		</div>
		<div class="col-lg-2">
			<div class="serv-icons-contact mx-auto">
				<i class="contact-icons fa icons fa-location-arrow fa-3x" aria-hidden="true"></i>
		</div>
		</div>
		<div class="col-lg-2">
			<div class="phone-bottom">
				<p>Office:</p>
				<p style="line-height: 25px;">The Green, Houghton
				Carlisle CA3 0NF</p>
			</div>
		</div>
		<div class="col-lg-2">
			<div class="serv-icons-contact mx-auto">
				<i class="contact-icons fa icons fa-envelope fa-3x" aria-hidden="true"></i>
		</div>
		</div>
		<div class="col-lg-2">
			<div class="phone-bottom">
				<p>Email:</p>
				<a style="text-decoration: none; color: white!important;" href="mailto:mickeyeng92@gmail.com">enquires@mccluskeyroofing.co.uk
				</a>
			</div>
		</div>
		</div>
	</div>
</div>
