
<footer>
	<div class="footer">
		<div class="container">
			<div class="row">
				<div class="col-lg-3">
					<h3>About Us</h3>
					<hr class="hr-footer">
					<br>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum repellat, maxime vel alias impedit veritatis temporibus, sequi quos veniam eius optio corporis modi dicta molestias at inventore culpa, natus explicabo.</p>
				</div>
				<div class="col-lg-3">
					<h3>Our Services</h3>
					<hr class="hr-footer">
					<div class="footer-contact">
						<div class="contact-text">
						<br>
							<i style="color: #F4BC16!important; margin-right: 10px;" class="fa fa-check" aria-hidden="true"> </i>
							<p>Tiling</p>
							<br>
						</div>
					</div>
					<div class="footer-contact">
						<div class="contact-text">
						<br>
							<i style="color: #F4BC16!important; margin-right: 10px;" class="fa fa-check" aria-hidden="true"> </i>
							<p>UPVC Cladding</p>
							<br>
						</div>
					</div>
					<div class="footer-contact">
						<div class="contact-text">
						<br>
							<i style="color: #F4BC16!important; margin-right: 10px;" class="fa fa-check" aria-hidden="true"> </i>
							<p>Guttering</p>
							<br>
						</div>
					</div>
					<div class="footer-contact">
						<div class="contact-text">
						<br>
							<i style="color: #F4BC16!important; margin-right: 10px;" class="fa fa-check" aria-hidden="true"> </i>
							<p>Faascias and soffits</p>
							<br>
						</div>
					</div>
						<div class="contact-text">
						<br>
							<i style="color: #F4BC16!important; margin-right: 10px;" class="fa fa-check" aria-hidden="true"> </i>
							<p>Velux installers</p>
							<br>
						</div>
						<div class="contact-text">
						<br>
							<i style="color: #F4BC16!important; margin-right: 10px;" class="fa fa-check" aria-hidden="true"> </i>
							<p>Chimney stack repairs & removals</p>
							<br>
						</div>
				</div>
				<div class="col-lg-3">
					<h3>Map</h3>
					<hr class="hr-footer">
					<br>
					<iframe style="width: 200px;!important; height: 200px!important;" class="google-maps" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2292.692697888197!2d-2.9274144842503906!3d54.925864480340266!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x487d1a09fc2c31d3%3A0x7bed0c82588621c3!2sPoplars+House+Farm!5e0!3m2!1sen!2suk!4v1501716806376" height="450" frameborder="0" allowfullscreen=""></iframe>
				</div>
				<div clas
				<div class="col-lg-3">
					<h3>Office</h3>
					<hr class="hr-footer">
					<div class="footer-contact">
					<div class="contact-text">
						<br>
							<i style="color: #F4BC16!important; margin-right: 10px;" class="fa fa-paper-plane-o" aria-hidden="true"> </i>
							<p> The Green, Houghton
							Carlisle CA3 0NF</p>
							<br>
						</div>
					</div>
					<div class="contact-text">
						<br>
							<i style="color: #F4BC16!important; margin-right: 10px;" class="fa fa-phone" aria-hidden="true"> </i>
							<p>078879333458</p>
							<br>
						</div>
						<div class="contact-text">
						<br>
							<i style="color: #F4BC16!important; margin-right: 10px;" class="fa fa-envelope-o fa-1x" aria-hidden="true"> </i>
							<a style="text-decoration: none; " href="mailto:mickeyeng92@gmail.com">enquires@mccluskeyroofing.co.uk</a>
							<br>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="footer-bottom">
		<a style="color: white; text-decoration: none; text-align: center!important" href="mailto:mickeyeng92@gmail.com">Designed by Mickey English</a>
	</div>
</footer>
<!--  -->